include AUTHORS
include CHANGELOG
include INSTALL
include LICENSE
include Makefile
include commands.yaml
include commands.py
include requirements.txt
include bycycle/core/commands.yaml
include bycycle/core/model/usps_street_suffixes.csv
