include AUTHORS
include CHANGELOG
include INSTALL
include LICENSE
include Makefile
include commands.cfg
include commands.py
include requirements.txt
include bycycle/core/commands.cfg
include bycycle/core/model/usps_street_suffix.csv
